
syllabus/syllabus.html
syllabus/syllabus.pdf
class-1/3-survey-of-content-management-systems-notes.html
class-1/3-survey-of-content-management-systems-slides.html
class-1/2-portfolio-site-slides.html
class-1/2-portfolio-site-notes.html
class-1/4-sftp-ssh-suggestions-notes.html
class-2/1-create-your-database.html
class-2/2-install-wordpress.html
class-2/3-configure-wordpress.html
class-2/4-adding-a-user-and-exploring-user-roles.html
class-3/1-storyboarding-and-prototyping-slides.html
